<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Members</title>

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden"
      style='font-family: Manrope, "Noto Sans", sans-serif;'
    >
      <div class="flex items-center bg-white p-4 pb-2 justify-center">
        <h2 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em]">
          Meet Our Team
        </h2>
      </div>
      <div class="@container">
        <div class="@[480px]:px-4 @[480px]:py-3">
          <div
            class="bg-cover bg-center flex flex-col justify-end overflow-hidden bg-white @[480px]:rounded-xl min-h-[218px]"
            style='background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 25%), url("https://cdn.usegalileo.ai/sdxl10/46938ee0-3ec2-43cd-9a63-916363aabea9.png");'
          >
            <div class="flex p-4">
              <p class="text-white tracking-light text-[28px] font-bold leading-tight">
                MEET OUR TEAM
              </p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">
        Our Team
      </h2>

      <div class="p-4">
        <div class="flex items-stretch justify-between gap-4 rounded-xl">
          <div class="flex flex-col gap-1 flex-[2_2_0px]">
            <p class="text-[#637588] text-sm font-normal leading-normal">Leader</p>
            <p class="text-[#111418] text-base font-bold leading-tight">Banashree Bhuyan</p>
            <a
            href="https://mail.google.com/mail/?view=cm&fs=1&to=bhuyanbanashree2@gmail.com"
            target="_blank"
            class="text-blue-500 text-sm font-normal leading-normal"
          >
            bhuyanbanashree2@gmail.com
          </a>
          
          </div>
          <div
            class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
            style='background-image: url("https://as2.ftcdn.net/v2/jpg/09/61/69/75/1000_F_961697523_EFd1m8P4tdcwB0TYvlQAagqKR1xHSuwk.webp");'
          ></div>
        </div>
      </div>

      <div class="p-4">
        <div class="flex items-stretch justify-between gap-4 rounded-xl">
          <div class="flex flex-col gap-1 flex-[2_2_0px]">
            <p class="text-[#637588] text-sm font-normal leading-normal">Frontend Developer</p>
            <p class="text-[#111418] text-base font-bold leading-tight">Mrinmoy Nath</p>
            <a
  href="https://mail.google.com/mail/?view=cm&fs=1&to=mrinmoyn48@gmail.com"
  target="_blank"
  class="text-blue-500 text-sm font-normal leading-normal"
>
  mrinmoyn48@gmail.com
</a>

          </div>
          <div
            class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
            style='background-image: url("https://as1.ftcdn.net/v2/jpg/09/48/12/66/1000_F_948126611_dW8FoEoBueaztnxa3SKEjoZt8djvPGhT.jpg");'
          ></div>
        </div>
      </div>

      <div class="p-4">
        <div class="flex items-stretch justify-between gap-4 rounded-xl">
          <div class="flex flex-col gap-1 flex-[2_2_0px]">
            <p class="text-[#637588] text-sm font-normal leading-normal">Frontend Developer</p>
            <p class="text-[#111418] text-base font-bold leading-tight">Amit Debhnath</p>
            <a
            href="https://mail.google.com/mail/?view=cm&fs=1&to=adnadn0105@gmail.com"
            target="_blank"
            class="text-blue-500 text-sm font-normal leading-normal"
          >
            adnadn0105@gmail.com
          </a>          
          </div>
          <div
            class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
            style='background-image: url("https://as1.ftcdn.net/v2/jpg/08/76/94/16/1000_F_876941612_eQ1dS1ockXbfF15beztZi8Khrxlz4KsG.webp");'
          ></div>
        </div>
      </div>

      <div class="p-4">
        <div class="flex items-stretch justify-between gap-4 rounded-xl">
          <div class="flex flex-col gap-1 flex-[2_2_0px]">
            <p class="text-[#637588] text-sm font-normal leading-normal">UI/UX</p>
            <p class="text-[#111418] text-base font-bold leading-tight">Gaurav Dutta</p>
            <a
  href="https://mail.google.com/mail/?view=cm&fs=1&to=gauravdutta321@gmail.com"
  target="_blank"
  class="text-blue-500 text-sm font-normal leading-normal"
>
  gauravdutta321@gmail.com
</a>

          </div>
          <div
            class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
            style='background-image: url("https://as2.ftcdn.net/v2/jpg/09/31/89/59/1000_F_931895921_Om8cbP22AiIjYHWF1L8CEWNUB77j9Sv3.webp");'
          ></div>
        </div>
      </div>

      <div class="h-5 bg-white"></div>
    </div>
  </body>
</html>